{% extends "main/base.html" %}
{% block title %}
    Change password
{% endblock %}

{% block content %}
    <h2 class="formTitle">Change your password</h2>
    <form method="post">

        {{ form.hidden_tag() }}

        <p class="form">
            {{ form.password.label }} :
            {{ form.password() }} <br>
            <span class="errorMsg"></span>
        </p>

        <p class="form">
            {{ form.newPassword.label }} :
            {{ form.newPassword }} <br>
            <span class="errorMsg"></span>
        </p>

        <p class="formSubmit">
            {{ form.submit() }}
        </p>

    </form>
{% endblock %}